ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/**菜单栏**********/
#menu_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(245, 245, 245, 0.8);
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.8);
  z-index: 99;
}
/*----------菜单-----------*/
#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
  width: 50%;
  height: 100%;
}
/*----------一级菜单-----------*/
.menu {
  color: #000;
  width: 100px;
  height: 100%;
  text-align: center;
  /*2级3级菜单共享的ul设置*/
}
.menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  background: rgba(243, 243, 243, 0.8);
  display: none;
  text-align: left;
  text-indent: 1em;
}
/*----------二级菜单-----------*/
.down_menu1 {
  width: 150px;
  margin-top: 0px;
}
.down_menu1 li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  /*不要用百分比*/
  height: 50px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.8);
}
/*----------三级菜单-----------*/
.down_menu2 {
  position: relative;
  width: 230px;
  left: 150px;
  top: -50px;
}
/*----------所有菜单的hover样式-----------*/
.menu:hover {
  cursor: pointer;
  background: rgba(179, 218, 255, 0.3);
}
.menu:active {
  cursor: pointer;
  background: rgba(179, 218, 255, 0.3);
}
#menu_bar ul li:hover {
  cursor: pointer;
  background: rgba(179, 218, 255, 0.3);
}
#menu_bar ul li:active {
  cursor: pointer;
  background: rgba(179, 218, 255, 0.3);
}
/*----------弹出2级菜单-----------*/
.menu:hover .down_menu1 {
  display: block;
}
/*----------弹出3级菜单-----------*/
.down_menu1 li:hover .down_menu2 {
  display: block;
  cursor: pointer;
}
