#ProList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  width: 70%;
  height: auto;
}
#ProList .ProList_child {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 150px;
  margin: 1px 1px;
  background-color: #f5f5f5;
}
#ProList .ProList_child:hover {
  background-color: #ebebeb;
}
#ProList .ProList_child .ProList_content {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
}
#ProList .ProList_child .ProList_content img {
  width: 36%;
  height: 50%;
}
#ProList .ProList_child .ProList_content img:hover {
  cursor: pointer;
  width: 60%;
  height: 80%;
}
#ProList .ProList_child .ProList_title {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  height: 20%;
  background-color: rgba(235, 235, 235, 0.5);
  color: #292929;
  align-items: center;
  justify-content: center;
}
